<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="month"><%= month_name %></span>
<% if (events.length > 0) { %>
	<small class="cal-events-num badge badge-important pull-left"><%= events.length %></small>
	<div class="hide events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
		<% _.each(events, function(event) { %>
			<a href="javascript:void(0);" data-event-id="<%= event.id %>" class="pull-left event <%= event['className'] %>" data-toggle="tooltip" title="<%= event.name %>"></a>
		<% }); %>
	</div>
<% } %>
